doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='/css/tossup.css')
		link(rel='stylesheet', type='text/css', href='/css/gloss.css')
	body
		.twocol.skinny

			.left
				h2 Bonus
				table.center
					tr: td(colspan=3): strong= bonus.question_set_edition
					tr: td(colspan=3)= bonus.packet_name
					tr
						td: a(href=(+bonus.question_ptr_id - 1) + '.html') ←
						td Bonus #{bonus.position}
						td: a(href=(+bonus.question_ptr_id + 1) + '.html') →

				p
					a(href="/index.html") ‹ Home

			.right
				h2 Editions of this bonus
					span.dag †
				table
					colgroup(span=4)
					colgroup(span=1)
					colgroup(span=4)
					colgroup(span=4)
					colgroup(span=4)
					thead
						tr
							th Set edition
							th Packet
							th Bonus
							// th Author
							// th Category
							th(style="min-width:30em;") Answers

							th(style="min-width:2em;") Rooms

							th(style="min-width:2em;") Parts
							th(style="min-width:2em;") Part 1
							th(style="min-width:2em;") Part 2
							th(style="min-width:2em;") Part 3

							th(style="min-width:2em;") 0s
							th(style="min-width:2em;") 10s
							th(style="min-width:2em;") 20s
							th(style="min-width:2em;") 30s

							th(style="min-width:2em;") ≥0
							th(style="min-width:2em;") ≥10
							th(style="min-width:2em;") ≥20
							th(style="min-width:2em;") =30
							th(style="min-width:2em;"): abbr(title='survival function') sf
					tbody
						for edition in editions
							tr(class=bonus.question_ptr_id == edition.question_ptr_id ? 'cur' : '')
								td: a(href=edition.question_ptr_id + '.html')= edition.question_set_edition
								td= edition.packet_letter
								td= edition.position
								// td= edition.initials
								// td= edition.category
								td.ellipsis(title=edition.answers)= edition.answers
		.twocol
			.left
				h2 Text
				blockquote
					div.question
						!= raw[0]
						!= raw[1]

			.right

				h2 Performances
				table
					thead
						tr
							th(style="min-width:8em;") Team
							th(style="min-width:8em;").ellipsis= bonus.answer1
							th(style="min-width:8em;").ellipsis= bonus.answer2
							th(style="min-width:8em;").ellipsis= bonus.answer3
							th(style="min-width:3em;") Points
							th(style="min-width:6em;") Site
							th(style="min-width:2em;") Rm
							th(style="min-width:2em;") Rd
					tbody.stripe
						for geb in performances
							tr
								td.ellipsis(title=geb.team_name)= geb.team_name
								td= geb.value1
								td= geb.value2
								td= geb.value3
								td= geb.total
								td.ellipsis(title=geb.tournament_name)= geb.tournament_name
								td= geb.room_number
								td= geb.round_number

		h3
			span.dag †
			|  Compare with care.
		p Questions may have substantially changed in different set editions. Be responsible and only compare stats from identical questions.
		p Two bonuses are detected as editions of the same bonus if at least 2 of the following match: Answer 1, Answer 2, Answer 3, Category.

		script(src='/js/all.js')
