doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='/css/tossup.css')
		link(rel='stylesheet', type='text/css', href='/css/gloss.css')
	body
		.twocol.skinny

			.left
				h2 Bonus
				table.center
					tr: td(colspan=3): strong= bonus.question_set_edition
					tr: td(colspan=3)= bonus.packet_name
					tr
						td: a(href='?id=' + (+bonus.question_ptr_id - 1)) ←
						td Bonus #{bonus.position}
						td: a(href='?id=' + (+bonus.question_ptr_id + 1)) →

				p
					a(href="/index.html") ‹ Home

			.right
				h2 Editions of this bonus
					abbr(title='Two bonuses are detected as two editions of the same bonus if at least 3 of the following conditions match: Answer 1, Answer 2, Answer 3, Category.') *
				table
					colgroup(span=4)
					colgroup(span=5)
					colgroup(span=4)
					colgroup(span=3)
					thead
						tr
							th Set edition
							th Packet
							th Bonus
							// th Author
							// th Category
							th Answers
					tbody
						for bonus in editions
							tr
								td: a(href='?id=' + bonus.question_ptr_id)= bonus.question_set_edition
								td= bonus.packet_letter
								td= bonus.position
								// td= bonus.initials
								// td= bonus.category
								td= bonus.answers
		.twocol
			.left
				h2 Text
				blockquote
					div.question
						!= raw[0]
						!= raw[1]

			.right

				h2 Performances
				table
					thead
						tr
							th(width=120) Team
							th(style='max-width: 8em; min-width: 4em;')= bonus.answer1
							th(style='max-width: 8em; min-width: 4em;')= bonus.answer2
							th(style='max-width: 8em; min-width: 4em;')= bonus.answer3
							th Points
							th(width=100) Site
							th Rm
							th Rd
					tbody.stripe
						for geb in performances
							tr
								td= geb.team_name
								td= geb.value1
								td= geb.value2
								td= geb.value3
								td= geb.total
								td= geb.tournament_name
								td= geb.room_number
								td= geb.round_number

		script(src='js/all.js')
