doctype html
include global.jade
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='/css/tossup.css')
		link(rel='stylesheet', type='text/css', href='/css/gloss.css')
		title #{bonus.question_set_edition} - #{bonus.packet_name} - Bonus #{bonus.position}
	body
		.twocol.skinny

			.left
				h2 Bonus
				table.center
					tr: td(colspan=3): strong= bonus.question_set_edition
					tr: td(colspan=3)= bonus.packet_name
					tr
						td: a(href=(+bonus.question_ptr_id - 1) + '.html') ←
						td Bonus #{bonus.position}
						td: a(href=(+bonus.question_ptr_id + 1) + '.html') →

				p
					a(href="/index.html") ‹ Home

			.right
				h2 Editions of this bonus
					span.dag †
				table
					colgroup(span=4)
					colgroup(span=1)
					colgroup(span=4)
					colgroup(span=4)
					colgroup(span=4)
					thead
						tr
							th Set edition
							th Packet
							th Bonus
							// th Author
							// th Category
							+th(30) Answers

							+th(2) Rooms

							+th(2) Parts
							+th(2) Part 1
							+th(2) Part 2
							+th(2) Part 3

							+th(2) 0s
							+th(2) 10s
							+th(2) 20s
							+th(2) 30s

							+th(2) ≥0
							+th(2) ≥10
							+th(2) ≥20
							+th(2) =30
							+th(2): abbr(title='survival function') sf
					tbody
						for edition in editions
							tr(class=bonus.question_ptr_id == edition.question_ptr_id ? 'cur' : '')
								td: a(href=edition.question_ptr_id + '.html')= edition.question_set_edition
								td= edition.packet_letter
								td= edition.position
								// td= edition.initials
								// td= edition.category
								+tdel(edition.answers)
		.twocol
			.left
				h2 Text
				blockquote
					div.question
						!= raw[0]
						!= raw[1]

			.right

				h2 Performances
				table
					thead
						tr
							+th(8) Team
							+th(8).ellipsis= bonus.answer1
							+th(8).ellipsis= bonus.answer2
							+th(8).ellipsis= bonus.answer3
							+th(3) Points
							+th(6) Site
							+th(2) Rm
							+th(2) Rd
					tbody.stripe
						for geb in performances
							tr
								+tdel(geb.team_name)
								td= geb.value1
								td= geb.value2
								td= geb.value3
								td= geb.total
								+tdel(geb.tournament_name)
								td= geb.room_number
								td= geb.round_number

		script(src='/js/all.js')
