doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='/css/tossup.css')
		link(rel='stylesheet', type='text/css', href='/css/gloss.css')
	body
		div.left
			header

			nav
				h2 Tossups
				table
					thead
						th(width=70) Set edition
						th(width=40) Packet
						th(width=40) Bonus
						th(width=40) Author
						th(width=150) Category
						th(width=180) Answer
						th(width=40) Pwds
						th(width=40) Wds

					tbody.stripe
						for tossup in tossups
							tr
								td= tossup.question_set_edition
								td= tossup.packet_letter
								td= tossup.position
								td= tossup.initials
								td= tossup.category
								td
									a(href='/tossup.html?id=' + tossup.question_ptr_id)
										= tossup.answer
								td= tossup.power_words
								td= tossup.words

				h2 Bonuses
				table
					thead
						th(width=70) Set edition
						th(width=40) Packet
						th(width=40) Bonus
						th(width=40) Author
						th(width=150) Category
						th(width=180) Part 1
						th(width=180) Part 2
						th(width=180) Part 3

					tbody.stripe
						for bonus in bonuses
							tr
								td= bonus.question_set_edition
								td= bonus.packet_letter
								td= bonus.position
								td= bonus.initials
								td= bonus.category
								td
									a(href='/bonus.html?id=' + bonus.question_ptr_id)
										= bonus.answer1
								td
									a(href='/bonus.html?id=' + bonus.question_ptr_id)
										= bonus.answer2
								td
									a(href='/bonus.html?id=' + bonus.question_ptr_id)
										= bonus.answer3
