doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='/css/tossup.css')
		link(rel='stylesheet', type='text/css', href='/css/gloss.css')
	body
		div.left
			header

			nav
				h2 Tossups
				table
					thead
						th Set edition
						th Packet
						th Tossup
						th Author
						th Category
						th Answer
						th Pwds
						th Wds

					tbody.stripe
						for tossup in tossups
							tr
								td= tossup.question_set_edition
								td= tossup.packet_letter
								td= tossup.position
								td= tossup.initials
								td= tossup.category
								td
									a(href='/tossup.html?id=' + tossup.question_ptr_id)
										= tossup.answer
								td= tossup.power_words
								td= tossup.words

				h2 Bonuses
				table
					thead
						th Set edition
						th Packet
						th Bonus
						th Author
						th Category
						th Part 1
						th Part 2
						th Part 3

					tbody.stripe
						for bonus in bonuses
							tr
								td= bonus.question_set_edition
								td= bonus.packet_letter
								td= bonus.position
								td= bonus.initials
								td= bonus.category
								td
									a(href='/bonus.html?id=' + bonus.question_ptr_id)
										= bonus.answer1
								td
									a(href='/bonus.html?id=' + bonus.question_ptr_id)
										= bonus.answer2
								td
									a(href='/bonus.html?id=' + bonus.question_ptr_id)
										= bonus.answer3
