doctype html
include global.jade
//- separate words on server side
//- x separate category kde api endpoint
//- show negs on histogram
//- why 23 rooms heard packet 9/10 when only 22 rooms? half tiebreaker?
//- x errata

//- responsive mobile layout
//- x web fonts
//- x google analytics
//- x robots.txt
//- words css - devtools mobile inspector
html
	head
		meta(charset='utf-8')
		include analytics.jade
		link(rel='stylesheet', type='text/css', href='css/all.css')
		title every.buzz ⬢ SGI › Index
	body
		div.left
			header
				h1 Index

			nav
				ul
					li: a(href='#tossups') Tossups
					li: a(href='#bonuses') Bonuses
					li: a(href='notices.html') Important notices

				h2#tossups Tossups
				nav: ul
					for tossups, edition in tossupsByEdition
						li: a(href='#tossups-#{edition}')= edition
				for tossups, edition in tossupsByEdition
					h3(id='tossups-#{edition}')= edition
					table
						thead
							+th(6) Set edition
							+th(3) Packet
							+th(3) Bonus
							+th(3) Author
							+th(15) Category
							+th(18) Answer
							+th(3): abbr(title='Number of words in power') Pwds
							+th(3): abbr(title='Number of words') Wds

						tbody.stripe
							for tossup in tossups
								tr
									td= tossup.question_set_edition
									td= tossup.packet_letter
									td= tossup.position
									td= tossup.initials
									td= tossup.category
									td.ellipsis(title=tossup.answer)
										a(href='tossup/' + tossup.question_ptr_id + '.html')
											= tossup.answer
									td= tossup.power_words
									td= tossup.words

				h2#bonuses Bonuses
				nav: ul
					for bonuses, edition in bonusesByEdition
						li: a(href='#bonuses-#{edition}')= edition
				for bonuses, edition in bonusesByEdition
					h3(id='bonuses-#{edition}')= edition
					table
						thead
							+th(6) Set edition
							+th(3) Packet
							+th(3) Bonus
							+th(3) Author
							+th(15) Category
							+th(18) Part 1
							+th(18) Part 2
							+th(18) Part 3

						tbody.stripe
							for bonus in bonuses
								tr
									td= bonus.question_set_edition
									td= bonus.packet_letter
									td= bonus.position
									td= bonus.initials
									td= bonus.category
									+tdel(bonus.answer1, href='bonus/' + bonus.question_ptr_id + '.html')
									+tdel(bonus.answer2, href='bonus/' + bonus.question_ptr_id + '.html')
									+tdel(bonus.answer3, href='bonus/' + bonus.question_ptr_id + '.html')
