doctype html
include includes/global.jade
html
	head
		meta(charset='utf-8')
		include includes/base.jade
		include includes/analytics.jade
		+css
		+title(`every.buzz ⬢ Question sets`)
	body
		+header

		.left
			h1 Question sets

			table
				thead
					+th(9) Set
					+th(6) Editions
					+th(6) Tournaments
					+th(6) Teams
					+th(5) Clear

				tbody.stripe
					for question_set in question_sets
						tr
							td: a(href=basePath(url('question_set', question_set)))= question_set.question_set
							td= question_set.question_set_edition_count
							td= question_set.tournament_count
							td= question_set.team_count
							td= question_set.clear
