doctype html
include includes/global.jade
//- separate words on server side
//- show negs on histogram

//- responsive mobile layout
//- chart border no quantiles
//- words css on mobile - devtools inspector
//- 1/2 heard tossups
html
	head
		meta(charset='utf-8')
		include includes/base.jade
		include includes/analytics.jade
		link(rel='stylesheet', type='text/css', href='/css/all.css')
		title every.buzz ⬢ #{question_set.name}
	body
		header.twocol.skinny
			h1 every.buzz
			nav(aria-label="breadcrumb")
				ol
					li: a(href=url('question_sets')) Home

		.left
			h1= question_set.name

			nav
				ul
					li: a(href='#tossups') Tossups
					li: a(href='#bonuses') Bonuses
					li: a(href='/notices.html') Important notices

				h2#tossups Tossups
				nav: ul
					for tossups, edition in tossupsByEdition
						li: a(href='#tossups-#{edition}')= edition
				for tossups, edition in tossupsByEdition
					h3(id='tossups-#{edition}')= edition
					table
						thead
							+th(6) Set edition
							+th(3) Packet
							+th(3) Tossup
							+th(3) Author
							+th(15) Category
							+th(18) Answer
							+th(3): abbr(title='Number of words in power') Pwds
							+th(3): abbr(title='Number of words') Wds

						tbody.stripe
							for tossup in tossups
								tr
									td= tossup.question_set_edition
									td= tossup.packet_letter
									td= tossup.position
									td= tossup.initials
									td= tossup.category
									td.ellipsis(title=tossup.answer)
										a(href=url('tossup', tossup))
											= tossup.answer
									td= tossup.power_words
									td= tossup.words

				h2#bonuses Bonuses
				nav: ul
					for bonuses, edition in bonusesByEdition
						li: a(href='#bonuses-#{edition}')= edition
				for bonuses, edition in bonusesByEdition
					h3(id='bonuses-#{edition}')= edition
					table
						thead
							+th(6) Set edition
							+th(3) Packet
							+th(3) Bonus
							+th(3) Author
							+th(15) Category
							+th(18) Part 1
							+th(18) Part 2
							+th(18) Part 3

						tbody.stripe
							for bonus in bonuses
								tr
									td= bonus.question_set_edition
									td= bonus.packet_letter
									td= bonus.position
									td= bonus.initials
									td= bonus.category
									+tdel(bonus.answer1, href=url('bonus', bonus))
									+tdel(bonus.answer2, href=url('bonus', bonus))
									+tdel(bonus.answer3, href=url('bonus', bonus))
