doctype html
include global.jade
html
	head
		meta(charset='utf-8')
		include analytics.jade
		link(rel='stylesheet', type='text/css', href='../css/fonts.css')
		link(rel='stylesheet', type='text/css', href='../css/tossup.css')
		link(rel='stylesheet', type='text/css', href='../css/gloss.css')
		title #{tossup.question_set_edition} - #{tossup.packet_name} - Tossup #{tossup.position}
	body
		.twocol.skinny

			.left
				h2 Tossup
				p: a(href="..") ‹ Home
				
				table.center
					tr: td(colspan=3): strong= tossup.question_set_edition
					tr: td(colspan=3)= tossup.packet_name
					tr
						td: if tossup.prev
							a(href=tossup.prev + '.html') ←
						td Tossup #{tossup.position}
						td: if tossup.next
							a(href=tossup.next + '.html') →

			.right
				h2 Editions of this tossup
					span.dag †
				table
					colgroup(span=6)
					colgroup(span=1)
					colgroup(span=4)
					colgroup(span=3)
						col
						col
						col
					colgroup(span=2)
					colgroup(span=2)
					thead
						tr
							+th(6) Set edition
							+th(3) Packet
							+th(3) Tossup
							+th(18) Answer
							+th(3): abbr(title='Number of words in power') Pwds
							+th(3): abbr(title='Number of words') Wds

							+th(3) Rooms

							+th(2): abbr(title='Gets') G
							+th(2) 15s
							+th(2) 10s
							+th(2) −5s
							// +th(2) 0s

							+th(3): abbr(title='Conversion') Conv
							+th(3): abbr(title='Power %') Pow%
							+th(3): abbr(title='Neg %') Neg%
							
							+th(3): abbr(title='First correct buzz location %') FB%
							+th(3): abbr(title='Average correct buzz location %') Avg%

							// +th(2) BP?
							+th(3) Buzzes
							+th(3): abbr(title='Number of recorded buzz locations (= if same as Buzzes)') BzPts
					tbody
						for edition in editions
							- var cls = (edition.rollup) ? 'rollup' : (tossup.question_ptr_id == edition.question_ptr_id) ? 'cur' : '';
							tr(class=cls)
								if !edition.rollup
									td: a(href=edition.question_ptr_id + '.html')= edition.question_set_edition
									td= edition.packet_letter
									td= edition.position
									+tdel(edition.answer)
									td.r= edition.power_words
									td.r= edition.words
								else
									th Grand total #[span.dag †]
									td.warning(colspan=5) Warning: Comparing editions is not reliable!

								td.r= edition.countRooms

								td.r= bl(edition.countRooms, edition.countG)
								td.r= bl(edition.countRooms, edition.count15)
								td.r= bl(edition.countRooms, edition.count10)
								td.r= bl(edition.countRooms, edition.countN5)
								// td.r= bl(edition.countRooms, edition.count0)

								+tdb(edition.countRooms, edition.countG)
								+tdb(edition.countRooms, edition.count15)
								+tdb(edition.countRooms, edition.countN5)

								td.r= bl(edition.countRooms, formatPct(edition.firstBzPt))
								td.r= bl(edition.countRooms, formatPct(edition.avgBzPt))

								// td.r= bldiff(edition.countRooms, edition.countRoomsBzPt)
								td.r= bl(edition.countRooms, edition.countBzs)
								td.r= bldiff(edition.countBzs, edition.countBzPts)

		.twocol
			.left
				h2 Text
				blockquote
					.question(data-words=tossup.words)
						!= raw[0]
					.answer
						!= raw[1]

					.key
						small.line.last
							| Key:   
							span.get Correct 
							span.bb +Correct bounceback 
							span.neg −Incorrect

				h2(style="margin-bottom: 0;") Histogram
				p(style="margin-top: -10px;")
					svg.chart

				// Buzz %	Buzz – Power	(correct only)	FB location (first correct buzz)		FB player (first players to buzz correctly before end on TU heard more than once)
			.right

				h2 Buzzes
				table
					thead
						tr
							+th(8) Team
							+th(8) Player
							th Value
							th: abbr(title='Buzz location') BzPt
							th: abbr(title='Buzz location %') BzPt%
							th: abbr(title='Bounceback') BB?
							+th(9) Answer
							th: abbr(title='Protested') Pro?
							+th(6) Site
							+th(2) Rm
							+th(2) Rd
					tbody.stripe.buzzes
						for buzz in buzzes
							tr(data-index=buzz.p class=buzz.class)
								+tdel(buzz.team_name)
								+tdel(buzz.player_name)
								td.r= formatNegative(buzz.buzz_value)
								td.r= buzz.p
								td.r= buzz.buzz_location_pct
								td= buzz.bounceback
								+tdel(buzz.answer_given)
								td= buzz.protested
								td= buzz.tournament_name
								td= buzz.room_number
								td= buzz.round_number

		script(src="#{tossup.question_ptr_id}.js")
		script(src='../js/categories.js')
		script(src='../js/all.js')
