doctype html
include includes/global.pug
html
	head
		meta(charset='utf-8')
		include includes/base.pug
		include includes/analytics.pug
		+css
		+title(`every.buzz ⬢ ${bonus.question_set} › ${bonus.question_set_edition} › ${bonus.packet_name}, Bonus ${bonus.position}: ${bonus.answers}`)
	body
		+header
			li: a(href=basePath(url('question_set', bonus)))= bonus.question_set
			li: a(href=basePath(url('edition', bonus)))= bonus.question_set_edition

		.twocol.skinny

			.left
				h2 Bonus

				table.center
					tr: td(colspan=3): strong= bonus.question_set_edition
					tr: td(colspan=3)= bonus.packet_name
					tr
						td: if bonus.prev_slug
							a(href=bonus.prev_slug + '.html') ←
						td Bonus #{bonus.position}
						td: if bonus.next_slug
							a(href=bonus.next_slug + '.html') →
					tr: td(colspan=3) by #{bonus.author}

			.right
				h2 Editions of this bonus
					span.dag †
				table
					colgroup(span=5)
					colgroup(span=2)
						col
						col
					colgroup(span=3)
						col
						col
						col
					colgroup(span=4)
					colgroup(span=4)
						col
						col
						col
						col
					thead
						tr
							+th(6) Set edition
							+th(3) Packet
							+th(3) Bonus
							+th(26.1) Answers
							+th(3): abbr(title='Bray–Curtis dissimilarity') Diff

							+th(3) Rooms

							+th(3).bar Total
							+th(3).bar Part 1
							+th(3).bar Part 2
							+th(3).bar Part 3

							+th(2) 30s
							+th(2) 20s
							+th(2) 10s
							+th(2) 0s

							+th(1.5): abbr(title='survival function') sf
							+th(3).bar ≥0
							+th(3).bar ≥10
							+th(3).bar ≥20
							+th(3).bar =30
					tbody
						for edition in editions
							- var cls = (edition.rollup) ? 'rollup' : (bonus.question_ptr_id == edition.question_ptr_id) ? 'cur' : '';
							tr(class=cls)
								if !edition.rollup
									td: a(href=basePath(url('bonus', edition)))= edition.question_set_edition
									td= edition.packet_letter
									td= edition.position
									+tdel(edition.answers)
									td.r= formatPct2(edition.similarity)
								else
									th Grand total #[span.dag †]
									td.warning(colspan=4) Warning: Comparing editions is not reliable!

								td.r= edition.countRooms

								+tdbar(edition.countRooms, edition.avgT).strong
								+tdbar(edition.countRooms, edition.avg1)
								+tdbar(edition.countRooms, edition.avg2)
								+tdbar(edition.countRooms, edition.avg3)

								td.r= bl(edition.countRooms, edition.count30)
								td.r= bl(edition.countRooms, edition.count20)
								td.r= bl(edition.countRooms, edition.count10)
								td.r= bl(edition.countRooms, edition.count0)

								td(style='line-height: 0;')
									if edition.countRooms
										- var w = 40;
										- var p = w * 0.1;
										- var s = w / edition.atleast0;
										svg(width=20 height=15 viewBox=`${-p} ${-p} ${w+2*p} ${w+2*p}` preserveAspectRatio='none' style='vertical-align: baseline;')
											path.sf(d=`M 0 ${w-s*edition.atleast0} L 10 ${w-s*edition.atleast10} L 20 ${w-s*edition.atleast20} L 30 ${w-s*edition.atleast30} L 40 ${w}`)
								+tdb(edition.countRooms, edition.atleast0)
								+tdb(edition.countRooms, edition.atleast10)
								+tdb(edition.countRooms, edition.atleast20)
								+tdb(edition.countRooms, edition.atleast30)
		.twocol
			.left
				h2 Text
				blockquote
					div.question
						!= raw[0]
						!= raw[1]

			.right

				h2 Performances
				table
					colgroup(span=2)
					colgroup(span=3)
					colgroup(span=3)
					thead
						tr
							+th(8) Team
							+th(3) Points
							+th(8).el(title=bonus.answer1)= bonus.answer1
							+th(8).el(title=bonus.answer2)= bonus.answer2
							+th(8).el(title=bonus.answer3)= bonus.answer3
							+th(7) Site
							+th(2) Rm
							+th(2) Rd
					tbody.stripe
						for geb in performances
							tr
								+tdel(geb.team_name)
								td.r= geb.total
								td.r= geb.value1
								td.r= geb.value2
								td.r= geb.value3
								+tdel(geb.tournament_name)
								td= geb.room_number
								td= geb.round_number
