doctype html
include includes/global.pug
html
	head
		meta(charset='utf-8')
		include includes/base.pug
		include includes/analytics.pug
		+css
		+title(`every.buzz ⬢ ${edition.question_set} › ${edition.question_set_edition}`)
	body
		+header
			li: a(href=basePath(url('question_set', edition)), aria-current='page')= edition.question_set
			li: a(href=basePath(url('edition', edition)))= edition.question_set_edition

		.left
			h1 #{edition.question_set} › #{edition.question_set_edition}

			nav
				ul
					li: a(href='#tournaments') Tournaments
					li: a(href='#tossups') Tossups
					li: a(href='#bonuses') Bonuses

			h2#tournaments Tournaments
			table.dataTable.compact
				thead
					//- +th(6) Set edition
					+th(6) Date
					+th(8) Site
					+th(3) Rooms
					+th(3) Teams
					+th(60)(data-orderable='false')
					+th(3) Games

				tbody.stripe
					for tournament in tournaments.entries
						tr
							//- td= tournament.question_set_edition
							td= tournament.date
							+tdel(tournament.site_name)
							td.r= tournament.room_count
							td.r= tournament.team_count
							td(style='width:60em;')
								ul: for team in tournament.teams
									li= team
							td.r= tournament.game_count

				tfoot
					for tournament in tournaments.rollup
						tr.rollup
							th Grand total
							td
							td.r= tournament.room_count
							td.r= tournament.team_count
							td
							td.r= tournament.game_count

			h2#tossups Tossups
			table.dataTable.compact(data-column-defs='[{"targets": [1, 2], "orderData": [1, 2]}]')
				thead
					+th(6) Set edition
					+th(3)(data-name='packet') Packet
					+th(3)(data-name='position') Tossup
					+th(3) Author
					+th(15) Category
					+th(18) Answer
					+th(3): abbr(title='Number of words in power') Pwds
					+th(3): abbr(title='Number of words') Wds

				tbody.stripe
					for tossup in tossups
						tr
							td= tossup.question_set_edition
							td= tossup.packet_letter
							td= tossup.position
							td(title=tossup.author, data-search=tossup.author)= tossup.initials
							td(data-order=tossup.lft)= tossup.category
							td.el(title=tossup.answer)
								a(href=basePath(url('tossup', tossup)))
									= tossup.answer
							td= tossup.power_words
							td= tossup.words

			h2#bonuses Bonuses
			table.dataTable.compact(data-column-defs='[{"targets": [1, 2], "orderData": [1, 2]}]')
				thead
					+th(6) Set edition
					+th(3)(data-name='packet') Packet
					+th(3)(data-name='position') Bonus
					+th(3) Author
					+th(15) Category
					+th(18) Part 1
					+th(18) Part 2
					+th(18) Part 3

				tbody.stripe
					for bonus in bonuses
						tr
							td= bonus.question_set_edition
							td= bonus.packet_letter
							td= bonus.position
							td(title=bonus.author, data-search=bonus.author)= bonus.initials
							td(data-order=bonus.lft)= bonus.category
							+tdel(bonus.answer1, href=basePath(url('bonus', bonus)))
							+tdel(bonus.answer2, href=basePath(url('bonus', bonus)))
							+tdel(bonus.answer3, href=basePath(url('bonus', bonus)))

		script(src=basePath('/js/all.js'))
