doctype html
include includes/global.pug
html
	head
		include includes/base.pug
		+preload
		include includes/analytics.pug
		+css
		+title(`every.buzz ⬢ ${player.question_set} › ${player.question_set_edition} › ${player.team_name} › ${player.player_name}`)
	body
		+header
			li: a(href=basePath(url('question_set', player)))= player.question_set
			li: a(href=basePath(url('edition', player)))= player.question_set_edition

		.left
			h1 #{player.player_name} (#[a(href=basePath(url('team', player))) #{player.team_name}]) at #{player.tournament_name}

			h2#categories Categories

			table.small
				colgroup(span=1)
					col

				// Tossups
				colgroup(span=1)
					col
				colgroup(span=3)
				colgroup(span=2)
					col
					col
				colgroup(span=3 + 1 * player.has_powers)
				colgroup(span=2 + player.has_powers)
					col
					if player.has_powers
						col
					col
				colgroup(span=5)
					col
					col
					col
					col
					col

				colgroup(span=3)
					col
					col
					col

				thead
					tr
						th
						th(colspan=15 + 3 * player.has_powers) Tossups
						th
					tr
						+th(15) Category

						// Tossups
						//- +th(2) BP?
						+th(3) Heard
						+th(3) Buzzes
						+th(2) Correct
						//- +th(3): abbr(title='Number of recorded buzz locations (= if same as Buzzes)') BzPts
						+th(3): abbr(title='Points') Pts
						+th(3): abbr(title='Points per tossup') PPT
						+th(3): abbr(title='Points per buzz') PPBz

						if player.has_powers
							+th(2) 15s
						+th(2) 10s
						+th(2) −5s
						+th(2) 0s

						+th(3): abbr(title='Conversion rate (= Gets / Heard)') Conv
						if player.has_powers
							+th(3): abbr(title='Power rate (= 15s / Tossups Heard)') Pow
						+th(3): abbr(title='Neg rate (= −5s / Tossups Heard)') Neg

						+th(3): abbr(title='Buzz location % of first correct buzz') MinB%
						+th(3): abbr(title='Average correct buzz location %') AvgB%

						+th(3): abbr(title='Buzz Point Area Under the Curve (sums 1-BzPt over all correct buzzes)') BPA
						+th(3): abbr(title='Generalist BPA (sums 1-BzPt only for BzPt > 0.50)') geBPA
						+th(3): abbr(title='Specialist BPA (sums 1-BzPt only for BzPt <= 0.50)') spBPA

						+th(3): abbr(title='BPA per 20 tossups heard') BPA/Rd
						+th(3): abbr(title='Generalist BPA per 20 tossups heard') geBPA/Rd
						+th(3): abbr(title='Specialist BPA per 20 tossups heard') spBPA/Rd

						+th(1)

				tbody.categories
					for category, i in categories_by_player
						tr(class='category-' + category.level)
							th.el: span(style='padding-left:' + category.level + 'em;')
								= category.level ? category.name : 'All categories'


							td.r= categories_by_team[i].t_countRooms

							//- td.r= bldiff(category.t_countRooms, category.t_countRoomsBzPt)
							td.r= bl(category.t_countRooms, category.t_countBzs)
							td.r= bl(category.t_countRooms, category.t_countG)
							//- td.r= bldiff(category.t_countBzs, category.t_countBzPts)
							td.r= bl(category.t_countRooms, formatNegative(category.t_sum))

							+tdavg(category.t_countRooms, category.t_sum / category.t_countRooms, 15)
							+tdavg(category.t_countRooms, category.t_sum / category.t_countBzs,   15)

							if player.has_powers
								td.r= bl(category.t_countRooms, category.t_count15)
							td.r= bl(category.t_countRooms, category.t_count10)
							td.r= bl(category.t_countRooms, category.t_countN5)
							td.r= bl(category.t_countRooms, category.t_count0)

							+tdb(categories_by_team[i].t_countRooms, category.t_countG)
							if player.has_powers
								+tdb(category.t_countRooms, category.t_count15)
							+tdb(category.t_countRooms, category.t_countN5)

							td.r= bl(category.t_countBzs, formatBzPct(category.t_firstBzPt))
							td.r= bl(category.t_countBzs, formatBzPct(category.t_avgBzPt))
							td.r= bl(category.t_countBzs, formatBzPct(category.bpa))
							td.r= bl(category.t_countBzs, formatBzPct(category.gebpa))
							td.r= bl(category.t_countBzs, formatBzPct(category.spbpa))
							td.r= bl(category.t_countBzs, formatBzPct(category.bpa / categories_by_team[i].t_countRooms * 20))
							td.r= bl(category.t_countBzs, formatBzPct(category.gebpa / categories_by_team[i].t_countRooms * 20))
							td.r= bl(category.t_countBzs, formatBzPct(category.spbpa / categories_by_team[i].t_countRooms * 20))
							
			h2#tossups Tossups

			//- h3#round    By round
			//- h3#category By category

			//- table
			//- 	thead
			//- 		tr
			//- 			+th(2) Category

			//- 			+th(2) TUH
			//- 			+th(2) Buzzes

			//- 			if player.has_powers
			//- 				+th(2) 15s
			//- 			+th(2) 10s
			//- 			+th(2) −5s
			//- 			// +th(2) 0s

			//- 			+th(2) Pts

			table.small.dataTable.compact(data-order='[[3,"asc"]]' data-column-defs='[{"targets": [3], "orderData": [3, 4]}]')
				colgroup(span=3)
				colgroup(span=4 + player.has_authors)
				colgroup(span=3)
				colgroup(span=3)
				thead
					tr
						//- +th(6.5) Set edition
						//- +th(7) Site
						+th(2): abbr(title='Room') Rm
						+th(2): abbr(title='Round') Rd
						+th(9) Opponent

						+th(3)(data-name='packet') Packet
						+th(3)(data-name='position') Tossup
						if player.has_authors
							+th(3) Author
						+th(15) Category
						+th(18) Answer
						//- if edition.has_powers
						//- +th(3): abbr(title='Number of words in power') Pwds
						//- +th(3): abbr(title='Number of words') Wds

						th Value
						th: abbr(title='Buzz location') BzPt
						th: abbr(title='Buzz location %') BzPt%
						//- +th(3) Rank

						+th(7): abbr(title='Bounceback') BB?
						+th(9) Answer given
						th: abbr(title='Protested') Pro?


				tbody.stripe.buzzes
					for buzz in buzzes
						tr(data-index=buzz.buzz_location class=buzz.class)

							//- td= buzz.question_set_edition
							//- +tdel(buzz.tournament_name)
							td: +room(buzz.room_number, buzz.spreadsheet)
							td= buzz.round_number
							+tdel(buzz.opponent, basePath(buzz.opponent_url))

							td= buzz.packet_letter
							td= buzz.position
							if player.has_authors
								+tdel(buzz.initials, null, buzz.author)
							+tdel(buzz.category)(data-order=buzz.lft)
							+tdel(buzz.answer, basePath(buzz.tossup_url))
							//- if edition.has_powers
							//- td= buzz.power_words
							//- td= buzz.words

							td.r.bg(data-order=buzz.buzz_value)= formatNegative(buzz.buzz_value)
							td.r.bg= buzz.buzz_location
							td.r.bg= formatBzPct(buzz.buzz_location_pct)
							//- td

							td.bg= buzz.bounceback
							+tdel(buzz.answer_given).bg
							td.bg= buzz.protested


		+js
