doctype html
include includes/global.pug

html
	head
		include includes/base.pug
		+preload
		link(rel='preload', href=basePath(url('question_set_index', question_set)), as='fetch', crossorigin='anonymous')
		include includes/analytics.pug
		+css
		+title(`every.buzz ⬢ ${question_set.question_set}`)
	body
		+header
			li: a(href=basePath(url('question_set', question_set)), aria-current='page')= question_set.question_set

		.left
			h1= question_set.question_set

			nav
				ul.compact
					li: a(href='notes.html') Scoresheet notes

			h2 Editions
			table.dataTable.compact
				thead: tr
					+th(11) Question set
					+th(6.5) Set edition
					+th(6) Tournaments
					+th(6) Teams

				tbody.stripe
					for edition in editions
						tr
							td= edition.question_set
							+tdel(edition.name, basePath(url('edition', edition)))
							td.r= edition.tournament_count
							td.r= edition.team_count

							br

			h2 BPA Leaderboards
			nav
				ul.compact
					li: a(href='leaderboard_team/root.html') Team
					br
					li: a(href='leaderboard_player/root.html') Player

		+js
