doctype html
include includes/global.pug
html
	head
		include includes/base.pug
		+preload
		link(rel='preload', href=basePath(url('question_sets_index')), as='fetch', crossorigin='anonymous')
		include includes/analytics.pug
		+css
		+title(`every.buzz ⬢ Question sets`)
	body
		+header

		.left
			h1 Question sets
			p
				| Data last updated #{statstats.dbpath_mtime}. 
				| App last updated #{statstats.file_mtime}.
			p
				| Data from some tournaments may be unavailable.
				//- preference to not show spoilers for certain packets (use for practice)

			table.dataTable.compact
				thead: tr
					+th(11) Question set
					+th(6) Editions
					+th(6) Tournaments
					+th(6) Teams
					+th(6) Clear
					+th(6) Published

				tbody.stripe
					for question_set in question_sets
						tr
							td: a(href=basePath(url('question_set', question_set)))= question_set.question_set
							td.r= question_set.question_set_edition_count
							td.r= question_set.tournament_count
							td.r= question_set.team_count
							td= question_set.clear
							td= question_set.published

		+js
