doctype html
include includes/global.pug
//- separate words on server side

//- responsive mobile layout
//- viewport scale
//- words very wide on mobile - probably text-size-adjust? - check devtools inspector
//- 1/2 heard tossups
//- tournament pages
//- show no-link old sets in list of question sets for now (2016 terrapin... smt)
//- delete app/db
//- dropdown question sets in header quick switch
//- remove mobile simplified view popup https://stackoverflow.com/questions/50588116/
//- error handling for id lookup queries
//- datatable search box - neutralize accents
//- belgrade/viz: hover bars on graph
//- belgrade/question: <-- --> arrow links move jitter

//- belgrade/home: hexbin viz of buzzes https://www.visualcinnamon.com/2013/07/self-organizing-maps-adding-boundaries http://www.ralphstraumann.ch/blog/2013/05/conceptualisation-of-a-d3-linked-view-with-hexagonal-cartogram/
//- belgrade/home: serif font search box homepage
//- belgrade/tossup: FOUT on load bzpts
//- belgrade/bonus: number of part 1, number of 10s, number of ≥10
//- belgrade/question: show category chain on question page besides in histogram?
//- bounceback-end is only for 0, 10 situations
//- single word ruby inside m - need wrap combine mode - button to show/hide PGs?
//- <m>L</m>. vertical-align
//- padding right on wide tables
//- flex instead of grid - space around, margin-bottom
//- belgrade/search: cmd click search result
//- belgrade/viz: histo margin top neg z-index behind
//- belgrade/viz: histo legend label order of dom insert
//- belgrade/viz: histogram legend tabular nums
//- belgrade/viz: add power, ftp threshold in histogram
//- belgrade/viz: cdf. draw horiz line to left axis from power intercept
//- belgrade/viz: add histo for bonus w/ ideal 16 58 92 or empirical avg
//- belgrade/viz: power dasharray - different from subcat.
//- belgrade/viz: bar widths for (author, category) vs conversion % should be weighted based on # of q's
//- belgrade/bonus: sf svg 40? why keep this
//- belgrade/tossup/viz: buzz loc % axis label centered
//- belgrade/tossup: missing stats from spreadsheets: Buzz – Power (correct only); Number of correct buzz locations
//- belgrade/question: diff question text versions
//- belgrade/question: diff: 0.10% fixed digits tostring
//- check bzpts > 1
//- belgrade/team: row highlight hover, rowgroup highlight (e.g. use hue for even/odd packet when grouped by packet)
//- belgrade/bonus/viz: should bonus page table highlight same score rows? highlight paragraph?

//- player, team < answer search priority
//- search shortcuts !eft p13 t4: [tag] search within a tag; user:1234 search by author; "words here" exact phrase; answers:0 unanswered questions; score:3 posts with a 3+ score; isaccepted:yes search within status

//- hardcoded filename_template
//- README.md, package.json
//- arrows colspan and symbol
html
	head
		include includes/base.pug
		+preload
		include includes/analytics.pug
		+css
		+title(`every.buzz ⬢ ${question_set.question_set}`)
	body
		+header
			li: a(href=basePath(url('question_set', question_set)), aria-current='page')= question_set.question_set

		.left
			h1= question_set.question_set

			h2 Editions
			table.dataTable.compact
				thead: tr
					+th(11) Question set
					+th(6.5) Set edition
					+th(6) Tournaments
					+th(6) Teams

				tbody.stripe
					for edition in editions
						tr
							td= edition.question_set
							+tdel(edition.name, basePath(url('edition', edition)))
							td.r= edition.tournament_count
							td.r= edition.team_count

		+js
