doctype html
include includes/global.pug
//- separate words on server side

//- responsive mobile layout
//- viewport scale
//- words very wide on mobile - probably text-size-adjust? - check devtools inspector
//- 1/2 heard tossups
//- tournament pages
//- show no-link old sets in list of question sets for now (2016 terrapin... smt)
//- delete app/db
//- dropdown question sets in header quick switch
//- home page - like https://www.netlify.com/about/
//- remove mobile simplified view popup https://stackoverflow.com/questions/50588116/
//- error handling for id lookup queries
//- datatable search box - neutralize accents
//- copy markdown (+ spoiler tag?)

//- hardcoded dbfname, filename_template
//- README.md, package.json
//- arrows colspan and symbol
html
	head
		meta(charset='utf-8')
		+preload
		include includes/base.pug
		include includes/analytics.pug
		+css
		+title(`every.buzz ⬢ ${question_set.question_set}`)
	body
		+header
			li: a(href=basePath(url('question_set', question_set)), aria-current='page')= question_set.question_set

		.left
			h1= question_set.question_set

			h2 Editions
			table.dataTable.compact
				thead
					+th(11) Question set
					+th(6) Set edition
					+th(6) Tournaments
					+th(6) Teams

				tbody.stripe
					for edition in editions
						tr
							td= edition.question_set
							td.el(title=edition.name)
								a(href=basePath(url('edition', edition)))
									= edition.name
							td.r= edition.tournament_count
							td.r= edition.team_count

		script(src=basePath('/js/all.js'))
