doctype html
include includes/global.pug
html
	head
		meta(charset='utf-8')
		+preload
		include includes/base.pug
		include includes/analytics.pug
		+css
		+title(`every.buzz ⬢ Question sets`)
	body
		+header

		.left
			h1 Question sets
			p
				| Data from some tournaments may be unavailable.
				//- preference to not show spoilers for certain packets (use for practice)

				//- total number of buzzes so far, number of users, number of tournaments

			table.dataTable.compact
				thead
					+th(11) Question set
					+th(6) Editions
					+th(6) Tournaments
					+th(6) Teams
					+th(6) Clear

				tbody.stripe
					for question_set in question_sets
						tr
							td: a(href=basePath(url('question_set', question_set)))= question_set.question_set
							td.r= question_set.question_set_edition_count
							td.r= question_set.tournament_count
							td.r= question_set.team_count
							td= question_set.clear

		script(src=basePath('/js/all.js'))
