doctype html
include includes/global.pug
html
	head
		include includes/base.pug
		+preload
		link(rel='preload', href=basePath(url('tossup_data', tossup)), as='script')
		link(rel='preload', href=basePath(url('categories', tossup)),  as='script')
		include includes/analytics.pug
		+css
		+title(`every.buzz ⬢ ${tossup.question_set} › ${tossup.question_set_edition} › ${tossup.packet_name}, Tossup ${tossup.position}: ${tossup.answer}`)
	body
		+header
			li: a(href=basePath(url('question_set', tossup)))= tossup.question_set
			li: a(href=basePath(url('edition', tossup)))= tossup.question_set_edition

		.twocol.skinny

			.left
				h2 Tossup
				
				table.center
					tr: td(colspan=3): strong= tossup.question_set_edition
					tr: td(colspan=3)= tossup.packet_name
					tr
						td: if tossup.prev_slug
							a(href=tossup.prev_slug + '.html', accesskey='k') ←
						td Tossup #{tossup.position}
						td: if tossup.next_slug
							a(href=tossup.next_slug + '.html', accesskey='j') →
					if tossup.has_authors
						tr: td(colspan=3) by #{tossup.author}

			.right
				h2 Editions of this tossup
					if editions.length > 2
						span.dag †
				table.small
					- var firstcolspan = 5 + tossup.has_powers + (editions.length > 2);
					colgroup(span=firstcolspan)
					colgroup(span=1 + tossup.has_powers)
					colgroup(span=3 + tossup.has_powers)
					colgroup(span=2 + tossup.has_powers)
						col
						if tossup.has_powers
							col
						col
					colgroup(span=2)
					colgroup(span=2)
					thead
						tr
							+th(6) Set edition
							+th(3) Packet
							+th(3) Tossup
							+th(18) Answer
							if tossup.has_powers
								+th(3): abbr(title='Number of words in power') Pwds
							+th(3): abbr(title='Number of words') Wds
							if editions.length > 2
								+th(3): abbr(title='Bray–Curtis dissimilarity') Diff

							+th(3) Rooms

							if tossup.has_powers
								+th(2): abbr(title='Gets (= 15s + 10s)') G

								+th(2) 15s
							+th(2) 10s
							+th(2) −5s
							+th(2) 0s

							+th(3): abbr(title='Conversion rate (= Gets / Rooms)') Conv
							if tossup.has_powers
								+th(3): abbr(title='Power rate (= 15s / Rooms)') Pow
							+th(3): abbr(title='Neg rate (= −5s / Rooms)') Neg
							
							+th(3): abbr(title='Buzz location % of first correct buzz') MinB%
							+th(3): abbr(title='Average correct buzz location %') AvgB%

							//- +th(2) BP?
							+th(3) Buzzes
							+th(3): abbr(title='Number of recorded buzz locations (= if same as Buzzes)') BzPts
					tbody
						for edition in editions
							- var cls = (edition.rollup) ? 'rollup' : (tossup.question_ptr_id == edition.question_ptr_id) ? 'cur' : '';
							tr(class=cls)
								if !edition.rollup
									td: a(href=basePath(url('tossup', edition)))= edition.question_set_edition
									td= edition.packet_letter
									td= edition.position
									+tdel(edition.answer)
									if tossup.has_powers
										td.r= edition.power_words
									td.r= edition.words
									if editions.length > 2
										td.r= formatPct2(edition.similarity)
								else
									th Grand total
										if editions.length > 2
											span.dag †
									td.warning(colspan=firstcolspan - 1)
										if editions.length > 2
											| Warning: Comparing editions is not reliable!

								td.r= edition.countRooms

								if tossup.has_powers
									td.r= bl(edition.countRooms, edition.countG)

									td.r= bl(edition.countRooms, edition.count15)
								td.r= bl(edition.countRooms, edition.count10)
								td.r= bl(edition.countRooms, edition.countN5)
								td.r= bl(edition.countRooms, edition.count0)

								+tdb(edition.countRooms, edition.countG)
								if tossup.has_powers
									+tdb(edition.countRooms, edition.count15)
								+tdb(edition.countRooms, edition.countN5)

								td.r= bl(edition.countRooms, formatBzPct(edition.firstBzPt))
								td.r= bl(edition.countRooms, formatBzPct(edition.avgBzPt))

								//- td.r= bldiff(edition.countRooms, edition.countRoomsBzPt)
								td.r= bl(edition.countRooms, edition.countBzs)
								td.r= bldiff(edition.countBzs, edition.countBzPts)

		.twocol
			.left
				h2 Text
				blockquote
					.question(data-words=tossup.words)
						!= raw[0]
					.answer
						!= raw[1]

					.key
						small.line.last
							| Key:   
							span.get Correct 
							span.bb +Correct bounceback 
							span.neg −Incorrect
				button(onclick='copy_lightweight(this);' data-text=`[quote="${tossup.question_set_name} › ${tossup.question_set_edition} edition › ${tossup.packet_name}" url=__url__]\n${bbcode}[/quote]`) Copy text as BBcode
				button(onclick='copy_lightweight(this);' data-text=`__${tossup.question_set_name} › ${tossup.question_set_edition} edition › ${tossup.packet_name}__\n\n${markdown}`) Copy text as Markdown

				h2(style="margin-bottom: 0;") Histogram
				p(style="margin-top: -10px;")
					svg.chart

				//- Buzz %	Buzz – Power	(correct only)	FB location (first correct buzz)		FB player (first players to buzz correctly before end on TU heard more than once)
			.right

				h2 Buzzes
				table.small
					colgroup(span=5)
					colgroup(span=3)
					colgroup(span=4)
					thead
						tr
							+th(9) Team
							+th(9) Player
							th Value
							th: abbr(title='Buzz location') BzPt
							th: abbr(title='Buzz location %') BzPt%
							+th(7): abbr(title='Bounceback') BB?
							+th(9) Answer given
							th: abbr(title='Protested') Pro?
							+th(9) Opponent
							+th(7) Site
							+th(2): abbr(title='Room') Rm
							+th(2): abbr(title='Round') Rd
					tbody.stripe.buzzes
						for buzz in buzzes
							tr(data-index=buzz.p||'null' class=buzz.class)
								+tdel(buzz.team_name, basePath(buzz.team_url))
								+tdel(buzz.player_name, basePath(buzz.player_url))
								td.r.bg= formatNegative(buzz.buzz_value)
								td.r.bg= buzz.p
								td.r.bg= formatBzPct(buzz.buzz_location_pct)
								td.bg= buzz.bounceback
								+tdel(buzz.answer_given).bg
								td.bg= buzz.protested
								+tdel(buzz.opponent, basePath(buzz.opponent_url))
								+tdel(buzz.tournament_name)
								td= buzz.room_number
								td= buzz.round_number

		script(src=basePath(url('tossup_data', tossup)))
		script(src=basePath(url('categories', tossup)))
		script(src=basePath('/js/all.js'))
		script.
			window.onload = window.loadData;
