mixin preload
	link(rel='preload', href=src=basePath('/js/all.js'),   as='script')
	link(rel='preload', href=src=basePath('/css/all.css'), as='style')

	link(rel='preload', href='/fonts/Benton/BentonSansCond-Bold.otf',     as='font', crossorigin='anonymous')
	link(rel='preload', href='/fonts/Lyon/Lyon Text-Regular.otf',         as='font', crossorigin='anonymous')
	link(rel='preload', href='/fonts/Lyon/Lyon Text-Semibold.otf',        as='font', crossorigin='anonymous')

	link(rel='prefetch', href='/fonts/Lyon/Lyon Text-Bold.otf',           as='font', crossorigin='anonymous')
	link(rel='prefetch', href='/fonts/Lyon/Lyon Text-Regular Italic.otf', as='font', crossorigin='anonymous')
	link(rel='prefetch', href='/fonts/Lyon/Lyon Text-Bold Italic.otf',    as='font', crossorigin='anonymous')
	//- link(rel='prefetch', href='/fonts/Benton/BentonSansCond-Light.otf',   as='font', crossorigin='anonymous')
	link(rel='prefetch', href='/fonts/Benton/BentonSansCond-Book.otf',    as='font', crossorigin='anonymous')
	link(rel='prefetch', href='/fonts/Benton/BentonSansCond-Regular.otf', as='font', crossorigin='anonymous')
	link(rel='prefetch', href='/fonts/Benton/BentonSansCond-Medium.otf',  as='font', crossorigin='anonymous')

mixin js
	script(src=basePath('/js/all.js'))

mixin css
	link(rel='stylesheet', type='text/css', href=basePath('/css/all.css'))

mixin title(title)
	title= title
	meta(property='og:title', content=title)
	meta(property='og:description', content='Explore visualizations of detailed quizbowl stats')

mixin header
	header.twocol.skinny
		//- h1: a(href=basePath(url('home'))) every.buzz
		h1 every.buzz
		nav
			ul.compact
				li: a(href=basePath(url('notices'))) Notices
				li: a(href=basePath(url('question_sets'))) Question sets
				block
				li: div.typeahead
						input(type='text' placeholder="Search every.buzz").search

mixin th(w)
	th(style=`min-width:${w}em;`)&attributes(attributes)
		block
mixin tdb(n, x)
	+tdbar(n, x / n)
mixin tdppb(n, pct)
	if !n
		td.r
	else
		td.r= formatAvg(pct*30)
mixin tdbar(n, pct)
	if !n
		td.r.bar
	else
		- var disp = formatPct(pct);
		td.r.bar(style=pct ? `background-size: ${disp} 2px;` : '')&attributes(attributes)
			= disp
mixin tdavg(n, avg, max)
	if !n
		td.r.bar
	else
		- var disp = formatPct(avg/max);
		td.r.bar(style=avg ? `background-size: ${disp} 2px;` : '')&attributes(attributes)
			= formatAvg(avg)
mixin tdel(c, href, title)
	if !title
		- title = c;
	else
		- attributes['data-search'] = title;
	td.el(title=title)&attributes(attributes): span
		if href
			a(href=href)= c
		else
			= c

mixin tickerPlural(n, t, suffix, href)
	b.r #{formatThousand(n)} 
	span.l
		if href
			a(href=href)= t
				if n != 1
					= suffix
		else
			= t
			if n != 1
				= suffix

- function formatThousand(n) { return n.toLocaleString(); }
- function formatNegative(n) { if (n<0) return '−'+Math.abs(n); return n; }
- function formatPct(n) { if (isNaN(n)) return ''; return (100*n).toFixed(0)+'%'; }
- function formatBzPct(n) { if (isNaN(n) || n === '') return ''; return (1*n).toFixed(2); } //.replace(/^0/,'');
- function formatAvg(n) { if (isNaN(n)) return ''; if (n<0) return '−'+Math.abs(n).toFixed(1); return n.toFixed(1); }
-
	function formatPct2(n) {
		if (isNaN(n)) return '';
		if (n == 0) return '=';
		var np = 100*n;
		var fixed = (np < 0.1) ? 2 : (np < 10) ? 1 : 0;
		return np.toFixed(fixed)+'%';
	}
- function bl(c, n) { return c ? n : ''; }
- function bldiff(c, n) { var d = c - n; return c ? (d ? n : '=') : ''; }
