mixin css
	link(rel='stylesheet', type='text/css', href=basePath('/css/all.css'))

mixin header
	header.twocol.skinny
		h1: a(href=basePath(url('home'))) every.buzz
		nav
			ul
				li: a(href=basePath(url('notices'))) Notices
				li: a(href=basePath(url('question_sets'))) Question sets
				block

mixin th(w)
	th(style='min-width:#{w}em;')&attributes(attributes)
		block
mixin tdb(n, x)
	+tdbar(n, x / n)
mixin tdbar(n, pct)
	if !n
		td.r.bar
	else
		- var disp = formatPct(pct);
		td.r.bar(style=pct ? 'background-size: #{disp} 2px;' : '')&attributes(attributes)
			= disp
mixin tdel(c, href)
	td.ellipsis(title=c)
		if href
			a(href=href)= c
		else
			= c

- function formatNegative(n) { if (n<0) return '−'+Math.abs(n); return n; }
- function formatPct(n) { if (isNaN(n)) return ''; return (100*n).toFixed(0)+'%'; }
- function bl(c, n) { return c ? n : ''; }
- function bldiff(c, n) { var d = c - n; return c ? (d ? n : '=') : ''; }
